<% provide :title, t(".password_reset") %>
<div class="flex flex-col items-center justify-center">
  <h1 class="text-2xl font-bold"><%= t ".password_reset" %></h1>
  <div class="mt-5">
    <%= form_with model: @user, url: password_reset_path(params[:id]), class: "flex flex-col" do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <%= hidden_field_tag :email, @user.email %>
      <%= f.label :password, t(".password"), class: "text-base font-bold" %>
      <%= f.password_field :password, class: "rounded-lg mt-2" %>
      <%= f.label :password_confirmation, t(".confirm"), class: "text-base font-bold" %>
      <%= f.password_field :password_confirmation, class: "rounded-lg mt-2" %>
      <button type="submit" class="mt-2 px-4 py-2  bg-primary text-white rounded-sm hover:opacity-70 text-lg flex items-center justify-center">
        <%= t ".submit" %>
      </button>
    <% end %>
  </div>
</div>
