<tr class="border-b border-gray-200 hover:bg-gray-100">
  <td class="py-3 px-6 text-left whitespace-nowrap">
    <div class="flex items-center">
      <span class="font-medium"><%= index %></span>
    </div>
  </td>
  <td class="py-3 px-6 text-left">
    <%= link_to product.name, admin_product_path(product), class: "text-blue-600 hover:underline" %>
  </td>
  <td class="py-3 px-6 text-left">
    <%= product.category.name if product.category %>
  </td>
  <td class="py-3 px-6 text-left">
    <%= number_to_currency(product.price, unit: "", precision: 0) %> ₫
  </td>
  <td class="py-3 px-6 text-left">
    <%= product.created_at.strftime("%d-%m-%Y") %>
  </td>
</tr>
