<tr class="border-b border-gray-200 hover:bg-gray-100">
  <td class="py-3 px-6 text-left whitespace-nowrap">
    <div class="flex items-center">
      <span class="font-medium"><%= index %></span>
    </div>
  </td>
  <td class="py-3 px-6 text-left">
    <%= link_to review.product.name, admin_product_path(review.product), class: "text-blue-600 hover:underline" %>
  </td>
  <td class="py-3 px-6 text-left">
    <%= link_to review.user.user_name, admin_user_path(review.user), class: "text-blue-600 hover:underline" %>
  </td>
  <td class="py-3 px-6 text-left">
    <%= review.rating %>
  </td>
  <td class="py-3 px-6 text-left">
    <%= review.comment %>
  </td>
  <td class="py-3 px-6 text-center">
    <div class="flex items-center justify-center">
      <%= link_to admin_review_path(review), class: "w-4 mr-2 transform hover:text-blue-600 hover:scale-110" do %>
        <i class="fa fa-eye text-blue-600"></i>
      <% end %>
      <%= button_to admin_review_path(review), method: :delete, data: { turbo_confirm: t("admin.reviews_admin.index.delete_sure") }, class: "w-4 mr-2 transform hover:text-red-600 hover:scale-110" do %>
        <i class="fa fa-trash text-red-600"></i>
      <% end %>
    </div>
  </td>
</tr>
