<div class="h-full ml-14 mb-10 md:ml-64" style="padding-top: 110px;">
  <h1 class="text-3xl font-bold mb-6"><%= t "admin.orders_admin.index.title" %></h1>

  <div class="mb-4 flex justify-between items-center">
    <%= link_to admin_orders_path, class: "text-black hover:text-gray-400" do %>
      <i class="fa fa-sync-alt"></i>
    <% end %>
    <div class="flex-grow mx-4 flex justify-center">
      <%= form_with url: admin_orders_path, method: :get, local: true do %>
        <%= text_field_tag :user_name, params[:user_name], placeholder: t("admin.orders_admin.index.search_by_name"), class: "border rounded-lg py-2 px-4 mr-2" %>
        <%= submit_tag t("admin.orders_admin.index.search"), class: "bg-primary text-white py-2 px-4 rounded-lg hover:bg-primary_hover" %>
      <% end %>
    </div>
    <div>
      <%= form_with url: admin_orders_path, method: :get, local: true, class: "inline-block" do %>
        <%= select_tag :status, options_for_select([["#{t("admin.orders_admin.index.all_status")}", ""]] + Order.statuses.keys.map { |status| [t("orders.status.#{status}"), status] }, params[:status]), class: "form-select" %>
        <%= submit_tag t("admin.orders_admin.index.filter"), class: "bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700" %>
      <% end %>
    </div>
  </div>

  <table class="min-w-full bg-white border rounded-lg shadow-md overflow-hidden table-fixed">
    <thead>
      <tr class="bg-primary text-white uppercase text-sm leading-normal">
        <th class="py-3 px-6 text-left w-1/12 border-r border-gray-200">
          <%= t "admin.orders_admin.index.order_id" %>
        </th> 
        <th class="py-3 px-6 text-left w-1/12 border-r border-gray-200">
          <%= t "admin.orders_admin.index.user" %>
        </th> 
        <th class="py-3 px-6 text-left w-4/12 border-r border-gray-200">
          <%= t "admin.orders_admin.index.address" %>
        </th> 
        <th class="py-3 px-6 text-left w-2/12 border-r border-gray-200">
          <%= t "admin.orders_admin.index.payment_method" %>
        </th> 
        <th class="py-3 px-6 text-center w-1/12 border-r border-gray-200">
          <%= t "admin.orders_admin.index.status" %>
        </th> 
        <th class="py-3 px-6 text-right w-1/12 border-r border-gray-200">
          <div class="flex justify-between items-center">
            <span class="flex-grow"><%= t "admin.orders_admin.index.total" %></span>
            <%= link_to admin_orders_path(sort: "total", direction: params[:direction] == "asc" ? "desc" : "asc"), class: "text-white hover:text-gray-400 ml-2" do %>
              <i class="fa fa-sort-alpha-<%= params[:direction] == 'asc' ? 'up' : 'down' %>"></i>
            <% end %>
          </div>
        </th> 
        <th class="py-3 px-6 text-center w-1/12 border-r border-gray-200">
          <div class="flex justify-between items-center">
            <span class="flex-grow"><%= t "admin.orders_admin.index.created_at" %></span>
            <%= link_to admin_orders_path(sort: "created_at", direction: params[:direction] == "asc" ? "desc" : "asc"), class: "text-white hover:text-gray-400 ml-2" do %>
              <i class="fa fa-sort-alpha-<%= params[:direction] == 'asc' ? 'up' : 'down' %>"></i>
            <% end %>
          </div>
        </th> 
        <th class="py-3 px-6 text-center w-1/12">
          <%= t "admin.orders_admin.index.actions" %>
        </th> 
      </tr>
    </thead>
    <tbody class="text-gray-600 text-sm font-light">
      <%= render partial: "admin/orders/order_item", collection: @orders, as: :order %>
    </tbody>
  </table>
  <%= render "pagy/pagy_nav", pagy: @pagy %>
</div>
