<%= form_with model: @user, html: { class: "flex justify-center gap-2 w-[350px]" } do |f| %>
  <div class="flex flex-col gap-[10px] justify-center ">
    <%= f.label t(".avatar"), class: "font-bold" %>
    <%= user_avatar(@user, class: "w-[120px] h-[120px] rounded-full") %>
    <span class="image"><%= f.file_field :avatar, accept: Settings.ui.img_accept_format %></span>
  </div>
  <div class="flex flex-col gap-3">
    <%= render "shared/error_messages", object: f.object %>
    <%= f.label :user_name, t(".name"), class: "font-bold" %>
    <%= f.text_field :user_name, class: "rounded-lg" %>
    <%= f.label :email, class: "font-bold" %>
    <%= f.email_field :email, class: "rounded-lg" %>
    <%= f.label :password, t(".password"), class: "font-bold" %>
    <%= f.password_field :password, class: "rounded-lg" %>
    <%= f.label :password_confirmation, t(".password_confirm"), class: "font-bold" %>
    <%= f.password_field :password_confirmation, class: "rounded-lg" %>
    <button type="submit" class="rounded-lg px-4 py-2  bg-primary text-white hover:opacity-70 text-lg flex items-center justify-center">
      <%= yield(:button_text) %>
    </button>
  </div>
<% end %>
