<% provide :button_text, t(".save_changes") %>
<%= render "shared/profile_breadcrumb" %>
<div class="grid grid-cols-12 mb-[50px]">
  <div class="col-span-3">
    <%= render "shared/profile_sidebar" %>
  </div>
  <div class="col-span-9 px-[50px] py-[30px] bg-white rounded-lg drop-shadow-lg">
    <div class="flex items-center gap-3">
      <%= link_to user_path do %>
        <i class="fa-solid fa-arrow-left text-primary"></i>
      <% end %>
      <h2 class="text-primary font-bold text-xl"><%= t ".edit_account" %></h2>
    </div>
    <div class="ml-[30px] mt-[50px] flex justify-center">
      <%= render "edit_form" %>
    </div>
  </div>
</div>
