<%= render "shared/profile_breadcrumb" %>
<div class="grid grid-cols-12">
  <div class="col-span-3">
    <%= render "shared/profile_sidebar" %>
  </div>
  <div class="col-span-9 px-[50px] py-[20px] bg-white rounded-lg drop-shadow-lg">
    <h2 class="text-primary font-bold text-xl"><%= t ".my_account" %></h2>
    <div class="ml-[30px] mt-[50px]">
      <p class="text-base"><span class="text-sm font-bold"><%= t ".user_name" %>: </span> <%= @user.user_name %></p>
      <p class="text-base mt-[10px]"><span class="text-sm font-bold">Email: </span> <%= @user.email %></p>
    </div>
  </div>
</div>
