<div class="border-b border-gray-300 pb-5">
  <div class="grid grid-cols-12  items-center mt-4 ">
    <div class="flex items-center col-span-6 space-x-4">
      <%= image_tag order_item.product.img_url, alt: order_item.product.name, class: "w-16 h-16" %>
      <div>
        <p class="text-gray-800"><%= order_item.product.name %></p>
      </div>
    </div>
    <p class="text-gray-700 col-span-2 text-center"><%= order_item.price %></p>
    <p class="text-gray-700 col-span-2 text-center"><%= order_item.quantity %></p>
    <p class="text-gray-700 col-span-2 text-right"><%= order_item.price * order_item.quantity %></p>
  </div>
  <% if @order.delivered? %>
    <div class="flex items-center mt-5 ">
      <% unless order_item.product.reviews.exists?(user_id: current_user.id) %>
        <%= link_to new_user_order_product_review_path(current_user, @order, order_item.product), class: "px-2 py-1 text-xs text-primary border border-primary rounded ml-2" do %>
          <%= t ".review" %>
        <% end %>
      <% else %>
        <% user_review = order_item.product.review_by_user(current_user) %>
        <%= render "reviews/review", user_review: user_review, order: @order, product: order_item.product %>
      <% end %>
    </div>
  <%end%>
</div>
