<% if @cart_items.empty? %>
  <%= render "empty_cart" %>
<% else %>
  <div id="cart" class="grid grid-cols-12 gap-5">
    <div class="col-span-8 bg-white drop-shadow-lg p-5 rounded-lg">
      <%= render partial: "carts/cart_item", collection: @cart_items %>
      <div class="mt-3">
        <%== pagy_nav(@pagy) %>
      </div>
    </div>
    <div class="col-span-4 bg-white drop-shadow-lg rounded-lg p-[20px] h-[180px]">
      <div class="flex justify-between">
        <p class="text-base"><span class="text-base font-bold"><%= t ".subtotal" %></span> (<%= t ".items" %>)</p>
        <p id="cart-items-quantity"><%= @cart_items.count %></p>
      </div>
      <div class="flex justify-between">
        <p class="text-base"><span class="text-base font-bold"><%= t ".price" %></span> (<%= t ".total" %>)</p>
        <p id="cart-price"><%= @total %></p>
      </div>
      <div class="flex justify-between">
        <span class="text-base font-bold"><%= t ".shipping" %></span>
        <p><%= t ".free" %></p>
      </div>
      <div class="w-full h-[1px] bg-primary my-3"></div>
      <div class="flex justify-between">
        <p class="text-base font-bold"><%= t ".total" %></p>
        <p id="total-price"><%= @total %></p>
      </div>
    </div>
  </div>
<% end %>
