<div class="h-full ml-14 mb-10 md:ml-64" style="padding-top: 110px;">
  <h1 class="text-3xl font-bold mb-6"><%= t "admin.categories_admin.index.title" %></h1>
  <div class="flex items-center mb-4">
    <div class="flex-shrink-0">
      <%= link_to admin_categories_path, class: "text-black hover:text-gray-400" do %>
        <i class="fa fa-sync-alt"></i>
      <% end %>
    </div>

    <div class="flex-grow mx-4 flex justify-center">
      <%= form_with url: admin_categories_path, method: :get, local: true do %>
        <%= text_field_tag :name, params[:name], placeholder: t("admin.categories_admin.index.search_by_name"), class: "border rounded-lg py-2 px-4 mr-2" %>
        <%= submit_tag t("admin.categories_admin.index.search"), class: "bg-primary text-white py-2 px-4 rounded-lg hover:bg-primary_hover" %>
      <% end %>
    </div>

    <div class="flex-shrink-0">
      <%= link_to t("admin.categories_admin.index.new"), new_admin_category_path, 
                  class: "bg-primary text-white py-2 px-4 rounded-lg hover:bg-primary_hover" %>
    </div>
  </div>
  <table class="min-w-full bg-white border rounded-lg shadow-md overflow-hidden table-fixed">
    <thead>
      <tr class="bg-primary text-white uppercase text-sm leading-normal">
        <th class="py-3 px-6 text-left w-1/12 border-r border-gray-200">
          <%= t "admin.categories_admin.index.category_id" %>
        </th> 
        <th class="py-3 px-6 text-left w-3/12 border-r border-gray-200">
          <div class="flex justify-between items-center">
            <span class="flex-grow"><%= t "admin.categories_admin.index.name" %></span>
            <%= link_to admin_categories_path(sort: "name", direction: params[:direction] == "asc" ? "desc" : "asc"), class: "text-white hover:text-gray-400 ml-2" do %>
              <i class="fa fa-sort-alpha-<%= params[:direction] == 'asc' ? 'up' : 'down' %>"></i>
            <% end %>
          </div>
        </th>
        <th class="py-3 px-6 text-center w-2/12 border-r border-gray-200">
          <%= t "admin.categories_admin.index.products" %>
        </th> 
        <th class="py-3 px-6 text-left w-2/12 border-r border-gray-200">
          <div class="flex justify-between items-center">
            <span class="flex-grow"><%= t "admin.categories_admin.index.created_at" %></span>
            <%= link_to admin_categories_path(sort: "created_at", direction: params[:direction] == "asc" ? "desc" : "asc"), class: "text-white hover:text-gray-400 ml-2" do %>
              <i class="fa fa-sort-numeric-<%= params[:direction] == 'asc' ? 'up' : 'down' %>"></i>
            <% end %>
          </div>
        </th>
        <th class="py-3 px-6 text-center w-2/12">
          <%= t "admin.categories_admin.index.actions" %>
        </th> 
      </tr>
    </thead>
    <tbody class="text-gray-600 text-sm font-light">
      <% @categories.each_with_index do |category, index| %>
        <%= render partial: "admin/categories/category_item", locals: { category: category, index: index + 1 } %>
      <% end %>
    </tbody>
  </table>
  <%= render "pagy/pagy_nav", pagy: @pagy %>
</div>
