<tr class="border-b border-gray-200 hover:bg-gray-100">
  <td class="py-3 px-6 text-left whitespace-nowrap">
    <div class="flex items-center">
      <span class="font-medium"><%= index %></span>
    </div>
  </td>
  <td class="py-3 px-6 text-left">
    <% if user.activated? %>
      <%= link_to user.user_name, admin_user_path(user), class: "text-blue-600 hover:underline" %>
    <% else %>
      <span class="text-gray-400"><%= user.user_name %></span>
    <% end %>
  </td>
  <td class="py-3 px-6 text-left">
    <%= user.email %>
  </td>
  <td class="py-3 px-6 text-left">
    <%= user.role.present? ? t("admin.users_admin.index.roles.#{user.role}") : "" %>
  </td>
  <td class="py-3 px-6 text-left">
    <%= user.activated? ? t("admin.users_admin.index.activated") : t("admin.users_admin.index.inactivated") %>
  </td>
  <td class="py-3 px-6 text-center">
    <div class="flex items-center justify-center">
      <% if user.activated? %>
        <%= link_to admin_user_path(user), class: "w-4 mr-2 transform hover:text-blue-600 hover:scale-110" do %>
          <i class="fa fa-eye text-blue-600"></i> 
        <% end %>
        <%= link_to edit_admin_user_path(user), class: "w-4 mr-2 transform hover:text-yellow-600 hover:scale-110" do %>
          <i class="fa fa-edit text-yellow-600"></i>
        <% end %>
        <%= button_to toggle_activation_admin_user_path(user), method: :patch, data: { turbo_confirm: t("admin.users_admin.index.toggle_activation_confirm") }, class: "w-4 mr-2 transform hover:text-red-600 hover:scale-110" do %>
          <i class="fa fa-times text-red-600"></i>
        <% end %>
      <% else %>
        <%= button_to toggle_activation_admin_user_path(user), method: :patch, data: { turbo_confirm: t("admin.users_admin.index.toggle_activation_confirm") }, class: "w-4 mr-2 transform hover:text-green-600 hover:scale-110" do %>
          <i class="fa fa-check text-green-600"></i> 
        <% end %>
      <%= button_to admin_user_path(user), method: :delete, data: { turbo_confirm: t("admin.users_admin.index.delete_sure") }, class: "w-4 mr-2 transform hover:text-red-600 hover:scale-110" do %>
        <i class="fa fa-trash text-red-600"></i>
        <% end %>
      <% end %>
    </div>
  </td>
</tr>
